*{
	margin: 0;
	padding: 0;
}

form#login-form {
	width: 280px;
	height: 260px;
	margin: 200px auto;
	background: white;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0,0,0, .4); 
	text-align: center;
	padding-top: 1px;
}

form#login-form.register{																				/* Register form#login-form height */
	height: 420px;
}

form#login-form .text-field {																			/* Input fields; Username, Password etc. */
	border: 1px solid #a6a6a6;
	width: 230px;
	height: 40px;
	border-radius: 3px;
	margin-top: 10px;
	padding-left: 10px;
	color: #6c6c6c;
	background: #fcfcfc;
	outline: none;
}

form#login-form .text-field:focus {
	box-shadow: inset 0 0 2px rgba(0,0,0, .3);
	color: #a6a6a6;
	background: white;
}

form#login-form .button {																				/* Submit button */
	border-radius: 3px;
	border: 1px solid #336895;
	box-shadow: inset 0 1px 0 #8dc2f0;
	width: 242px;
	height: 40px;
	margin-top: 20px;
	
	background: linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
	background: -o-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
	background: -moz-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
	background: -webkit-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
	background: -ms-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
	
	cursor: pointer;
	color: white;
	font-weight: bold;
	text-shadow: 0 -1px 0 #336895;
	
	font-size: 13px;
}

form#login-form .button:hover {
	background: linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
	background: -o-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
	background: -moz-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
	background: -webkit-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
	background: -ms-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
}

form#login-form .button:active {
	background: linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
	background: -o-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
	background: -moz-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
	background: -webkit-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
	background: -ms-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
	
	box-shadow: inset 0 0 2px rgba(0,0,0, .3), 0 1px 0 white;
}

body{
	background-color: #f8f9fe;
}
aside{
	width: 250px;
	height: 100vh;
	background: white;
	display: inline-block;
	box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
}
header{
	text-align: center;
	margin-top: 60px;
}
header ul li{
	padding: 10px 25px;
	text-align: left;
}
header ul li a{
	color: #40739e;
	text-decoration: none;
}
header ul li:last-child{
	border-top: 1px solid rgb(185, 185, 185);
	margin-top: 60px;
}
.main{
	display: inline-block;
    width: calc(100% - 340px);
    vertical-align: top;
    padding: 60px 20px;
}
.admin-form{
	width: 100%;
}
.admin-form .form-group{
	margin-bottom: 20px;
}
.admin-form input,
.admin-form textarea{
	width: 100%;
	padding: 10px 15px;
	border-radius: 5px;
	background: white;
	border: 1px solid rgb(228, 228, 228);
	outline: none;
}
.admin-form textarea{
	height: 250px;
}

.btn{
	padding: 15px 20px;
    background-color: #40739e;
    color: white;
    border: 0;
    border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
}
.btn:hover{
	background-color: #366185;
}

table, td, th {  
	border: 1px solid #ddd;
	text-align: left;
}
table {
	border-collapse: collapse;
	width: 100%;
}
th, td {
	padding: 15px;
}
.table-container{
	margin-top: 30px;
}
.table-actions{
	width: 100px;
}
.btn-action{
	padding: 5px 7px;
    display: inline-block;
    background: #7f8fa6;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 14px;
	width: calc(100% - 15px);
    text-align: center;
}
.btn-edit{
	background-color: #10ac84;
	margin-bottom: 7px;
}
.btn-delete{
	cursor: pointer;
	background-color: #ee5253;
}